<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/assets/WadiaLogo.jpeg" height="40" width="40" hspace="20">
    <a class="navbar-brand" href="#">Nowrosjee Wadia College</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/events" routerLinkActive="active">Mathematics Department</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerlinkActive="active">Physics Department</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerlinkActive="active">Chemistry Department</a>
            </li>




        </ul>

    </div>


</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>